<app-header></app-header>

<div class="container">
    <h1>Lista de Usuarios</h1>
    <button type="button" class="btn btn-primary" (click)="newUser()">Nuevo</button>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">Tiene Hermanos</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersList">
            <th scope="row">{{user.idPerson}}</th>
            <td>{{user.name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.birthdate | date:'dd/MM/yyyy'}}</td>
            <td>{{user.idMaritalStatus ==1 ? 'Soltero': user.idMaritalStatus ==2 ? 'Casado':'No definido' }}</td>
            <td>{{user.haveBrothers | yesNo }}</td>
            <td><button type="button" class="btn btn-link" (click)="editarUsuario(user.idPerson)">Editar</button> </td>
            <td><button type="button" class="btn btn-link" (click)="deleteUser(user.idPerson)">Eliminar</button> </td>
          </tr>         
        </tbody>
      </table>
  </div>

</div>

  


<app-footer></app-footer>